<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    
    
</head>
<body class="background">
    <div class="row">
        <div class="col-md-6">
    <div class="container pageContainer sectionColor">
    <div class="bs-docs-example">
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Section 1</a></li>
                <li class=""><a href="#lB" data-toggle="tab">Section 2</a></li>
                <li class=""><a href="#lC" data-toggle="tab">Section 3</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="lA">
                  <p>@RenderBody()</p>
                </div>
                <div class="tab-pane" id="lB">
                  <p>Howdy, I'm in Section B.</p>
                </div>
                <div class="tab-pane" id="lC">
                  <p>What up girl, this is Section C.</p>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
        </div>  
        </div>

<script>
        $(function () {
        $("#dialog-modal").dialog({
            autoOpen: false,
            height: 280,
            width: 400,
            modal:true,
            //show: {
            //    effects: "shake",
            //    duration: 100
            //},
            //hide: {
            //    effect: "explode",
            //    duration: 1000
            //}
        });
        }); 
    </script>

   
    @RenderSection("scripts", required: false)

        
</body>
</html>
