@model IEnumerable<CA2.Order>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Address
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipVia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            <div>
                <dl>
                    <dd>@String.Format("{0},",item.ShipAddress)</dd>
                    <dd>@String.Format("{0},",item.ShipCity)</dd>
                    <dd>@String.Format("{0},",item.ShipPostalCode)</dd>
                    <dd>@String.Format("{0}.",item.ShipCountry)</dd>
                </dl>
             </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipVia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
