@using Trip_booking.Models;
@model IEnumerable<Trip>

@{
    ViewBag.Title = "Trips";
}

<h2>Trips</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.legs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minimumGuests)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.legs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minimumGuests)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div id="legs"></div>


@section scripts
{
    <script>
        /* Handles listing of Orders when clicking on Customer */
        function listTrips (ID) {
            $.ajax({
                url: '@Url.Action("listLegs")',
                data: { id: albumID },
                success: function (data) {
                    $('#legs').html(data);
                    shrinkPageControls();
                }
            });
        }
    </script>
}
